.header {
    background-image: url(./../images/dog-bg.jpg);
    background-position: right top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 0px;
    min-height: 100vh;
    background-attachment: fixed;
    padding-bottom: 40px;
}
.btn{

}
.header.header-internal {
    min-height: auto;
    padding-bottom: 0px;
}
.content-page-internal{
  background-color: #eaeeef;
}
.box-view {
    background-color: white;
    padding: 25px;
    border-radius: 4px;
}
.form-container{

}
.btn-default {
    background-color: #dde6c5;
    color: #1e1e1e;
}
.logo-container {
    position: relative;
}
nav.navigation.white-nav{
  border-bottom: 1px solid #dddddd;
    background: #ffffff;
}
nav.navigation.white-nav .moto-widget-menu ul.moto-widget-menu-list li a.moto-widget-menu-link-level-1{
  color: #555555;
}
.logo-container img {
    background-color: #bad874;
    border-radius: 8px;
    max-width: 100px;
    margin-top: 10px;
    position: absolute;
    left: 0px;
}
.text-center{
  text-align: center;
}
.banner-main{
  padding-top: 170px
}
.signup-container{
  margin-top: 60px
}
.signup-inner {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.signp-box {
    padding: 15px 15px;
    border: 2px solid #bad87485;
    border-radius: 10px;
    display: flex;
    margin: 0px 25px;
    max-width: 347px;
    background-color: #1317015e;
}
.signp-box .box-icon {
    margin-right: 18px;
}
.signp-box .box-icon img {
    max-width: 50px;
}
.signp-box .box-content {
    color: white;
}
.signp-box .box-content h4 {
    font-weight: 400;
    font-style: normal;
    font-family: 'oswald', display;
    font-size: 30px;
    line-height: 33px;
    margin-bottom: 7px;
}
.signp-box .box-content span {
    font-size: 16px;
    display: block;
    margin-bottom: 15px;
}
.signp-box .box-content .btn-outline {
    background-color: transparent;
    border: 2px solid #b8d76f;
    border-radius: 4px;
    padding: 4px 13px;
    color: #b8d76f;
    font-size: 15px;
}
.services-container .service-row {
    display: flex;
    padding: 16px 0px;
    border-bottom: 1px solid #f1f1f1;
}
.services-container .service-row .service-icon {
    margin-right: 30px;
}
.services-container .service-row .service-icon img {
    max-width: 50px;
}
.services-container .service-row .description label.title {
    font-weight: 400;
    font-style: normal;
    font-family: 'oswald', display;
    font-size: 20px;
    color: #1e1e1e;
}
.text-muted {
    color: #999;
}
.read-more-text a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #84a041;
    border: 1px solid #b8d76f;
    border-radius: 4px;
    padding: 1px 7px;
    display: inline-block;
    font-size: 13px;
}
.read-more-text{
  margin-top: 10px
}
.services-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.section-title{
  margin-bottom: 15px
}
.process-row {
    display: flex;
    justify-content: space-between;
}

.process {
    width: 100%;
    position: relative;
    margin: 0 auto;
    margin-top: 55px;
}

.process-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}



.process-step {
    text-align: center;
    width: 33.3%;
    position: relative;
}
.process-step:last-child::before{
  display: none;
}
.process-step:before {
    top: 30px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 3px;
    background-color: #b8d76f59;
    left: 50%;
}
.process-step h4 {
    font-weight: 400;
    font-style: normal;
    font-family: 'oswald', display;
    font-size: 19px;
    color: #1e1e1e;
    margin-top: 21px;
}
.process-step p {
    font-size: 13px;
    max-width: 200px;
    margin: 0 auto;
    margin-top: 10px;
}
.btn-circle {
    width: 60px;
    height: 60px;
    text-align: center;
    padding: 6px 0;
    font-size: 9px;
    line-height: 1.428571429;
    border-radius: 15px;
    position: relative;
}
.btn-success.disabled, .btn-success:disabled {
    color: #1e1e1e;
    background-color: #b8d76f;
    border-color: #b8d76f;
}
.btn-success {
    color: #1e1e1e;
    background-color: #b8d76f;
    border-color: #b8d76f;
}
.btn-success:hover {
    color: #1e1e1e;
    background-color: #adce5f;
    border-color: #c2e276;
}
.btn-success:not(:disabled):not(.disabled).active, .btn-success:not(:disabled):not(.disabled):active, .show>.btn-success.dropdown-toggle {
    color: #333a40;
    background-color: #97b353;
    border-color: #97b353;
}
.btn-success:not(:disabled):not(.disabled).active:focus,
.btn-success:not(:disabled):not(.disabled):active:focus,
.show>.btn-success.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(188, 217, 118, 0.32);
}
.btn-success.focus, .btn-success:focus {
    box-shadow: 0 0 0 0.2rem rgba(188, 217, 118, 0.25);
}
.section-title h2 {
    font-family: 'oswald', display;
    font-weight: 400;
    font-size: 32px;
}
.btn-container{
  margin-top: 50px
}
.btn-container .btn{
  min-width: 150px;
  font-family: 'oswald', display;
  font-weight: 400;
}
.section-subtitle {
    max-width: 500px;
    margin: 0 auto;
}
.assurance-item{
  display: flex;
}
.assurance-item .assurance-icon{
  margin-right: 20px
}
.assurance-item .assurance-text{
  flex: 1;
}
.assurance-text h3{
      font-family: 'oswald', display;
}
.section {
    border-bottom: 1px solid #f3f3f3;
}
.section.find-home{
  background-image:url(./../images/find-home-bg.png);
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
}
.section.find-home .section-title h2{
  color: white
}
.section.find-home .section-subtitle p {
    color: #c5c5c4;
}
.testimonial-user{
  margin-left: 20px
}
.testimonial-user p {
    margin-bottom: 3px;
}
.footer-top {
    background-color: #b8d76f;
    padding: 20px 0px;
    background-image: url(./../images/dogs-pattern-vector.png);
}
.footer-top .footer-top-text h4 {
    font-family: 'oswald', display;
    color: #1e1e1e;
    margin-bottom: 10px;
}
.footer-top .footer-top-text p {
    margin-bottom: 0px;
}
.footer-top .footer-top-form {
    height: 100%;
    display: flex;
    justify-content: flex-end;
}
.footer-top .footer-top-form .email-form {
    display: flex;
    align-items: center;
    max-width: 354px;

}
.footer-top .footer-top-form .email-form .btn,
.footer-top .footer-top-form .email-form .form-control{
  font-size: 14px !important
}
.footer-top .footer-top-form .email-form .btn{
  margin-left: 5px
}
.footer {
    padding-top: 40px;

}
.footer .footer-column {
    margin-bottom: 30px;
}
.footer .footer-column .footer-column-heading h4 {
    font-family: 'oswald', display;
    font-size: 19px;
    color: #1e1e34;
    margin-bottom: 15px;
}

.footer .footer-column .footer-column-content{

}
.footer .footer-column .footer-column-content p{
  font-size: 13px
}
.footer .footer-column .footer-column-content ul {
    padding: 0px;
    list-style-type: none;
}
.footer .footer-column .footer-column-content ul li{

}
.footer .footer-column .footer-column-content ul li a {
    display: block;
    padding: 4px 0px;
    font-size: 13px;
}
.footer .footer-column .footer-column-content ul li a:hover{
  text-decoration: underline;
}
ul.social-list {
    display: flex;
    align-items: center;
}
ul.social-list li{

}
ul.social-list li a {
    height: 30px;
    width: 30px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    background-color: #333a40;
    color: white;
    border-radius: 50%;
    margin-right: 9px;
    transition: all 300ms ease-in-out
}
ul.social-list li a:hover{
  text-decoration: none !important;
  color: #333a40;
  background-color: #b8d76f
}
.footer-bootom {
    background-color: #f7f4f0;
    font-size: 12px;
    padding: 12px 0px;
    margin-top: 40px;
}
.footer-bootom p{
  margin-bottom: 0px
}
.banner-title h1{
    font-family: 'oswald', display;
}
.checkbox label, .radio label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 7px;
    line-height: 18px;
}
.checkbox,.radio {
    padding-left: 20px;
}
.checkbox input[type="checkbox"], .radio input[type="radio"] {
    opacity: 0;
    z-index: 1;
    cursor: pointer;
    display: none;
}
.checkbox span::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
.checkbox span::after {
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    top: 0px;
    margin-left: -20px;
    padding-left: 0px;
    padding-top: 0px;
    font-size: 11px;
    color: #555555;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 17px;
}

.checkbox-default input[type="checkbox"]:checked + span::after, .radio-default input[type="radio"]:checked + span::after {
    color: #89a24e;
}
.checkbox input[type="checkbox"]:checked + span::after {
    font-family: "FontAwesome";
    content: "\f00c";
}
.radio span::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    top: 1px;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out;
}
.radio span::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3px;
    top: 4px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #555555;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}
.checkbox-default input[type="checkbox"]:checked + span::before, .radio-default input[type="radio"]:checked + span::before {
    background-color: #ffffff;
    border-color: #bad874;
}
.radio-default input[type="radio"]:checked + span::after {
    background-color: #97b159 !important;
}
  .radio input[type="radio"]:checked + span::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
}
.form-block {
    margin-bottom: 25px;
}
.form-title h4 {
    font-family: 'oswald', display;
    color: #1e1e1e;
    font-size: 30px;
    margin-bottom: 25px;
}
.form-content .form-item {
    margin-bottom: 8px;
}
.form-content.item-inline .form-item {
    display: inline-block;
    margin-right: 18px;
}
.form-footer {
    border-top: 1px solid #f3f3f3;
    padding-top: 15px;
}
.form-footer .btn {
    min-width: 115px;
}
.form-content .form-item > label {
    font-weight: 600;
}
.form-content .form-item .form-control{
  font-size: 14px
}
.form-control:focus {
    border-color: #d5debf;
    box-shadow: 0 0 0 0.2rem rgba(143, 162, 102, 0.15);
}

.form-section-heading {
    position: relative;
    border-bottom: 1px solid #f1f1f1;
    margin-bottom: 20px;
}
.form-section-heading h4::after {
    content: "";
    width: 51%;
    position: absolute;
    height: 3px;
    background-color: #bad874;
    left: 0px;
    bottom: -2px;
}
.form-section-heading h4 {
    margin-bottom: 0px;
    font-family: oswald;
    color: #333a40;
    font-size: 18px;
    position: relative;
    display: inline-block;
    padding-bottom: 15px;
    margin-right: 10px;
}
.form-section-heading span {
    display: inline-block;
    margin-left: 8px;
}
.form-section-subheading h5 {
    font-size: 15px;
    margin-bottom: 18px;
    color: #333a40;
}
.form-container-sm {
    max-width: 900px;
    margin: 0 auto;
    margin-top: 30px;
}

.stepwizard-row {
    display: none;
}
.step-counter h4 {
    font-size: 14px;
    margin-bottom: 15px;
    color: #9a9a9a;
    border-bottom: 1px solid #f3f3f3;
    padding-bottom: 12px;
}
.page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
    padding: 0px 8px;
}
.page-header h1 {
    font-family: 'oswald', display;
    font-size: 22px;
    color: #1f1e1e;
}
a.user-link i {
    height: 20px;
    width: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #b8d76f;
    border-radius: 50%;
    background-color: #b8d76f;
    font-size: 11px;
    color: #1f1e1e;
    margin-left: 10px;
    margin-right: 5px;
}
.side-bg {
    background-color: #bad874;
    background-image: url(./../images/login-bg3.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    min-height: 300px;
    flex-basis: 310px;
    margin-right: 50px;
}
.side-bg::after {
    position: absolute;
    content: "";
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    background-color: #b1d265a1;
}
.side-bg .side-bg-caption {
    position: absolute;
    color: white;
    width: 100%;
    left: 0px;
    padding: 16px;
    bottom: 0px;
    padding-left: 26px;
    padding-right: 26px;
    z-index: 1
}
.side-bg .side-bg-caption h2 {
    font-family: 'oswald', display;
    font-size: 30px;
    margin-bottom: 8px;
    font-weight: 500;
    color: #040404;
    text-shadow: 2px 1px 0px #c2d29c;
}
.side-bg .side-bg-caption p {
    font-size: 14.7px;
    margin-bottom: 0px;
}
.box-view.box-no-padder {
    padding: 0px;
    overflow: hidden;
}
.wizard-wrapper {
    padding: 20px 10px;
    min-height: 450px;
    display: flex;
    flex-direction: column;
}
.wizard-wrapper .setup-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.wizard-wrapper .setup-content .form-block {
    margin-bottom: 15px;
    flex: 1;
}
.wizard-wrapper .form-content .form-item {
    margin-bottom: 12px;
}
.img-checkbox {
    margin-top: 20px;
}
.img-checkbox label {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 27px;
}
.img-checkbox input[type="checkbox"]{
  display: none;
}
.img-checkbox input[type="checkbox"] + img {
    max-width: 38px;
    background-color: #b8d76f;
    border-radius: 6px;
    filter: grayscale(64%);
    transition: all ease-in-out 300ms;
}
.img-checkbox input[type="checkbox"] + img + i {
    position: absolute;
    right: -3px;
    top: -4px;
    font-size: 18px;
    color: #1e1e1e;
    background-color: #f7f7f7;
    line-height: 12px;
    border-radius: 4px;
}
.img-checkbox input[type="checkbox"] + img + i::before{
  content: "\f096";
}
.img-checkbox input[type="checkbox"]:checked + img {
    filter: grayscale(0);

    transform: scale(1.04);
}
.img-checkbox input[type="checkbox"]:checked + img + i::before{
  content: "\f14a";
}
.img-checkbox:hover input[type="checkbox"] + img{

}
.label-text h4 {
    font-family: 'oswald', display;
    font-size: 19px;
    margin-top: 2px;
    margin-bottom: 3px;
    color: #1e1e1e;
}
.label-text span {
    font-size: 15px;
    color: #969696;
}
.check-img {
    position: relative;
    display: inline-block;
    margin-right: 20px;
}

.login-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 40px;
    margin-top: 100px;
}
.login-header h1 {
    font-family: 'oswald', display;
    color: #1e1e1e;
    margin-bottom: 25px;
    font-size: 33px;
    text-shadow: 0px 1px 0px #637539;
}
.login-header h1 span {
    font-weight: 300;
}
.login-container .form-group {
    margin-bottom: 25px;
}
.login-container .form-group label {
    font-weight: 600;
}
.top-login-img{
  height: 0px
}
.top-login-img img {
    max-width: 151px;
    margin-top: -210px;
}
.wizard-wrapper .form-content .form-item label {
    font-size: 17px;
    line-height: 20px;
}
.sidebar-menu .nav-item .dropdown-menu {
    position: static !important;
    transform: none !important;
    border: 0px;
    font-size: 13px;
    border-radius: 0px;
}
.sidebar-menu .nav-item a.list-group-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 0;
}
.sidebar-menu .nav-item .dropdown-menu a {
    white-space: initial;
    font-size: 12px;
    color: #6d6b6b;
    padding-left: 31px;
}
.sidebar-menu .nav-item .dropdown-menu a:active{
      background-color: #f8f9fa
}
.sidebar-menu .nav-item.show a.list-group-item {
    background-color: #1e1e1e;
    color: #bad874;
}
.table thead th {
    border-bottom: 2px solid #bad874;
    white-space: nowrap;
    outline: none;
}
.page-item.active .page-link {
    color: #080808;
    background-color: #bad874;
    border-color: #99b35e;
}
.table-footer-control {
    position: fixed;
    bottom: 0px;
    width: calc(100% - 12rem);
    text-align: center;
    margin-left: -46px;
    background-color: #1f1e1ee0;
    padding: 12px 0px;
    border-top: 1px solid #dee2e6;
    z-index: 10000;
  transition: margin .25s ease-out;
}
.toggled .table-footer-control{
  width: 100%
}
.table-container{
  margin-bottom: 40px
}
#sidebar-menu {
    position: relative;
    height: calc(100vh - 126px);
}
.admin-login {
    min-height: 100vh;
    background-image: url(./../images/dogs-pattern-vector.png);
    background-color: #8a8a8a;
}
.action-cell .btn {
    font-size: 11px;
    padding: 2px 8px;
}
.action-cell .btn i {
    margin-right: 6px;
}
.detail-row {
    background-color: white;
}
.detail-row table{
  margin-bottom: 0px;
  display: none;
}
.detail-row thead th {
    background-color: #bad874;
    color: #1f1e1e;
    border-top: 0px;
    font-size: 13px;
    padding: 5px 10px;
}
.detail-row > td {
    padding: 0px;
}

table.dataTable tbody>tr.selected,
table.dataTable tbody>tr>.selected {
    background-color: #e6f1cc;
}
table.dataTable tbody tr.shown + tr > td{
  padding: 0px
}
table.dataTable tbody tr.shown + tr table{
  margin-bottom: 0px
}
table.dataTable tbody tr.shown + tr table thead th {
    background-color: #b8d76f;
    border-top: 0px;
    font-size: 13px;
    color: #1f1e1e;
    text-transform: capitalize;
}
table.dataTable tbody tr.shown + tr table th,
table.dataTable tbody tr.shown + tr table td {
    padding: 5px 10px;
}
table.dataTable tbody tr.shown + tr table td{
  background-color: white
}
table.dataTable tbody tr .open-row {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 19px;
    color: #393939;
    cursor: pointer;
}
table.dataTable tbody tr .open-row::before{
content: "\f055";
}
table.dataTable tbody tr.shown .open-row {
    color: #dc060c;
}
table.dataTable tbody tr.shown .open-row::before{
  content: "\f056";
}
.booking-container{
  max-width: 850px;
  margin: 0 auto;
}
.booking-container ul.nav {
    margin-bottom: 16px;
}
.booking-container .form-control{
  font-size: 13px;
  height: 40px !important
}
.booking-container label.form-label{
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 5px;
}
.booking-container .nav-pills .nav-link {
    border: 1px solid #e0e0e0;
    margin-right: 12px;
    color: #a9a5a5;
    padding: 10px 25px;
}
.booking-container .nav-pills .nav-link:hover{
  color: black
}
.booking-container .nav-pills .nav-link.active, .booking-container .nav-pills .show>.nav-link {
    color: #403e3e;
    background-color: #ffffff;
    position: relative;
    border: 1px solid #bad874;
}
.booking-container .nav-pills .nav-link i {
    font-size: 16px;
    margin-bottom: 4px;
}
.booking-container .nav-pills .nav-link.active i {
    color: #9ebb5b;
}
.booking-container .nav-pills .nav-link.active::after {
    position: absolute;
    top: -1px;
    left: 0;
    right: 0;
    height: 4px;
    border-top: 3px solid #bad874;
    border-radius: 4px;
    content: "";
}
.row-lopad{
  margin-right: -5px;
    margin-left: -5px;
}
.row-lopad > div{
  padding-right: 5px;
    padding-left: 5px;
}
.input-wirh-icon{
  position: relative;
}
.input-wirh-icon .form-control {
    padding-right: 25px;
}
.input-wirh-icon span {
    position: absolute;
    right: 10px;
    top: 11px;
    color: #c1c1c1;
    pointer-events: none;
}
.datepicker table tr th, .datepicker table tr td {
    padding: 6px 10px;
    font-size: 13px;
}
.datepicker.datepicker-dropdown{
  padding-left: 4px;
  padding-right: 4px
}
.datepicker table tr th.prev, .datepicker table tr th.next {
    color: #8eab4a;
    font-size: 17px;
}
.datepicker table tr td.active.active {
    background-image: none;
    background-color: #b5d667 !important;
    color: #1f1f1f;
}
.datepicker table tr td.today,
.datepicker table tr td.today:active,
.datepicker table tr td.today:hover  {
    background-image: none;
    background-color: #1e1e1e !important;
    color: white !important;
}
.card-header {
    font-family: 'oswald', display;
    font-weight: 400;
    font-size: 17px;
    color: #424242;
}
.header-sm {
    min-height: 350px;
}
.header-sm .banner-main {
    padding-top: 120px;
}
.about-us-container{
  max-width: 700px;
  margin: 0 auto;
}
.white-bg{
  background-color: white
}
.member-section {
    display: flex;
    margin-bottom: 60px;
}
.member-section .member-thumb {
    margin-right: 25px;
}

.member-section .member-thumb img {
    max-width: 100px;
    border-radius: 50%;
}
.member-section .member-detail{

}
.member-section .member-detail .title {
    margin-bottom: 11px;
}
.member-section .member-detail h4 {
    font-family: 'oswald', display;
    font-weight: 400;
    font-size: 20px;
    color: #1e1e1e;
    margin-bottom: 2px;
}
.member-section .member-detail span {
    color: #a5a5a5;
}
.member-section .member-detail p {
    text-align: justify;
}
.header-about {
    background-image: url(./../images/about-bg.jpg);
    background-position: center;
    background-attachment: scroll;
}
.terms-policy-box,.faq-box{
  margin-top: 30px
}
.terms-policy-box h3 {
    font-family: 'oswald', display;
    font-weight: 400;
    font-size: 35px;
    margin-bottom: 10px;
    color: #1f1e1e;
}
.terms-policy-box h4 {
    font-family: 'oswald', display;
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 10px;
    color: #1e1e1e;
    margin-top: 25px;
}
.terms-policy-box ul {
    padding-left: 35px;
}
.terms-policy-box ul li{
  margin-bottom: 15px
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #1f1e1e;
    background-color: #c2dc85;
}
.nav-pills .nav-link{
  color: #858788;
}
.accordion .card {
    margin-bottom: 18px;
    border: 0px;
}
.accordion .card .card-header {
    font-family: inherit;
    padding: 0px;
    background-color: white;

}
.accordion .card .card-header h2{

}

.accordion .card .card-header h2 .btn {
    padding: 9px 0px;
    display: block;
    width: 100%;
    text-align: left;
    color: #545454;
    font-size: 16px;
    position: relative;
    padding-left: 35px;
    white-space: normal;
    text-decoration: none;
}
.accordion .card .card-header h2 .btn:after {
    content: "";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f056";
    position: absolute;
    left: 0px;
    top: 13px;
    font-size: 17px;
    color: black;
}
.accordion .card .card-header h2 .btn.collapsed:after {

    content: "\f055";
    color: #9ab758;
}
.accordion .card .card-header h2 .btn:not(.collapsed) {
    font-weight: 700;
}
.accordion .card-body {
    padding: 16px 0px;
    color: #7b7a7a;
    padding-left: 35px;
    padding-right: 35px;
    font-size: 15px;
}
.faq-title {
    margin-bottom: 27px;
}
.faq-title h4 {
    font-family: oswald;
    color: #1f1e1e;
    font-size: 29px;
    margin-bottom: 7px;
}
.faq-title p {
    color: #929090;
}
.listing-page-inner {
    display: flex;
    margin-top: 15px;
}
.listing-page-inner .filter-box {
    flex-basis: 350px;
    margin: 0px;
    max-width: 100%;
}
.booking-container.filter-box .nav-pills .nav-link {
    margin-right: 5px;
    padding: 7px 10px;
    font-size: 12px;
}
.result-block .media-left {
    width: 120px;
    overflow: hidden;
    height: 120px;
    position: relative;
    margin-right: 25px;
    border-radius: 4px
}
.result-block .media-left img{
      max-width: 100%;
}
.host-info {

}
.host-info h3 a {
    font-family: 'oswald', display;
    font-weight: 400;
    font-size: 25px;
    color: #262421;
}
.host-info p {
    color: #969595;
    margin-bottom: 8px;
    border-bottom: 1px solid #efefef;
    padding-bottom: 7px;
}

.result-block .address-block span {
    display: block;
    margin: 6px 0px;
}
.result-block .address-block span i {
    color: #a7a7a7;
    font-size: 14px;
    margin-right: 5px;
}
.pricing-detail{

}
.pricing-detail h4 {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px;
    color: #262421;
}
.pricing-detail h4 small {
    font-size: 12px;
    color: #8c8b8b;
}
.pricing-detail table td{
  padding: 4px 8px;
font-size: 13px;
}
.result-block.card {
    border: 0px;
    margin-bottom: 5px;
}
.result-view{
  padding: 0px 20px
}
.result-header{
  margin-bottom: 10px
}
.page-link {
    color: #8da94b;
}
.results-footer {
    margin-top: 22px;
}
@media (min-width: 768px) {
  table.dataTable {
    width: 100% !important;
}
}
@media (max-width: 992px) {
  .listing-page-inner {
      flex-direction: column;
  }

}
@media (max-width: 768px) {

  .table-footer-control{
    width: 100%
  }
  .toggled #page-content-wrapper {
    margin-left: 12rem
}
}
